Repository ajp8164/react-native-ajp-elements: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: npm run lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: npm run typescript --noEmit

Add zeroEdgeContent flag to list item
  packages/ui/src/List/ListItem.tsx
Due: lint, types

chore: publish
  package-lock.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: types

Add leftContentContainerStyle for more control over full width layout
  packages/ui/src/List/ListItem.tsx
Due: lint, types

Add support for list item editor features
  packages/ui/src/List/ListEditorView.tsx
  packages/ui/src/List/ListItem.tsx
  packages/ui/src/List/index.tsx
  packages/ui/src/List/useListItemEditor.ts
Due: lint, types

Rename list editing
  packages/ui/src/List/index.tsx
  packages/ui/src/List/useListEditor.ts
Due: lint, types

ListEditorView should extend View
  packages/ui/src/List/ListEditorView.tsx
Due: lint, types

Add ability for list editor to handle multiple list on a single screen, add reset editor when navigating away from screen
  package-lock.json
  packages/ui/package.json
  packages/ui/src/List/useListEditor.ts
Due: lint, types

Remove console logs
  packages/ui/src/List/ListItem.tsx
  packages/ui/src/List/useListEditor.ts
Due: lint, types

Change useListEditor to use a string id for finding list item component references (can't use ordinal index in a changing list)
  packages/ui/src/List/useListEditor.ts
Due: lint, types

Add inv screen header button styles
  packages/ui/src/theme/styles.ts
  packages/ui/src/theme/types/Styles.ts
Due: lint, types

Add configureable list item divider
  packages/ui/src/List/ListItem.tsx
Due: lint, types

Improve list item divider styling
  packages/ui/src/List/ListItem.tsx
  packages/ui/src/theme/styles.ts
  packages/ui/src/theme/types/Styles.ts
Due: lint, types

List item divider defautl color
  packages/ui/src/theme/theme.ts
Due: lint, types

Configurable divider for all list items
  packages/ui/src/List/ListItemAccordian.tsx
  packages/ui/src/List/ListItemCheckbox.tsx
  packages/ui/src/List/ListItemInput.tsx
  packages/ui/src/List/ListItemSwipable.tsx
  packages/ui/src/List/ListItemSwitch.tsx
Due: lint, types

Update header button style
  packages/ui/src/theme/styles.ts
Due: lint, types

Simply Divider prop
  packages/ui/src/List/Divider.tsx
Due: lint, types

Updates peer dep for rneui
  package-lock.json
  package.json
  packages/ui/package.json
Due: types

Update react-native-image-picker
  package-lock.json
  packages/ui/package.json
Due: types

Configure for publishing to npm registry
  package-lock.json
  package.json
  packages/common/package.json
  packages/core/package.json
  packages/ui/package.json
Due: types

chore: publish
  package-lock.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: types

Update README.md
  README.md
Due: none

Add attachment selection and camera hooks, fix eslint and prettier
  .eslintignore
  .eslintrc.js
  .prettierrc.js
  lefthook.yml
  package-lock.json
  package.json
  packages/common/.eslintignore
  packages/common/.eslintrc.js
  packages/common/.prettierrc.js
  packages/core/.eslintignore
  packages/core/.eslintrc.js
  packages/core/.prettierrc.js
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/.prettierrc.js
  packages/ui/package.json
  packages/ui/src/WebView.tsx
  packages/ui/src/camera/index.ts
  packages/ui/src/camera/useCamera.ts
  packages/ui/src/camera/useCameraContext.ts
  packages/ui/src/hooks/useSelectAttachment.ts
  packages/ui/src/lib/imageSelect.ts
  packages/ui/src/modals/CameraModal/helpers.ts
  packages/ui/src/views/LogView.tsx
Due: lint, types

Add missing exports
  packages/ui/src/hooks/index.ts
  packages/ui/src/index.ts
Due: lint, types
